AndroidSlidingDrawer/AnimationDrawer/bin
AndroidSlidingDrawer/AnimationDrawer/obj
ColorPickerView/ColorPicker/obj
ColorPickerView/ColorPicker/bin
ColorPickerView/ColorPickerViewDemo/bin
ColorPickerView/ColorPickerViewDemo/obj
PinnedSection.userprefs
PinnedSection/PinnedSectionActivity/bin
PinnedSection/PinnedSectionActivity/obj
PinnedSection/PinnedSectionLibrary/bin
PinnedSection/PinnedSectionLibrary/obj
PinnedSection/PinnedSectionSample/bin
PinnedSection/PinnedSectionSample/obj
SampleDrawerArrowDrawable/SampleDrawerArrowDrawable/obj
SampleDrawerArrowDrawable/SampleDrawerArrowDrawable/bin
DrawerArrowDrawable/DrawerArrowDrawable/obj
DrawerArrowDrawable/DrawerArrowDrawable/bin
ProcessButton/Library/bin
ProcessButton/Library/obj
ProcessButton/ProcessButton/bin
ProcessButton/ProcessButton/obj
