AndroidSlidingDrawer/AnimationDrawer/bin
AndroidSlidingDrawer/AnimationDrawer/obj
ColorPickerView/ColorPicker/obj
ColorPickerView/ColorPicker/bin
ColorPickerView/ColorPickerViewDemo/bin
ColorPickerView/ColorPickerViewDemo/obj
PinnedSection.userprefs
PinnedSection/PinnedSectionActivity/bin
PinnedSection/PinnedSectionActivity/obj
